@import url('https://fonts.googleapis.com/css?family=Mali');


/*************************************************
            DEFAULTS
*************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: Mali, Times, Georgia, sans-serif;
    line-height: 1.5;
}
p{
    
}
a{
    
}
ul{
    
}
ol{
    
}
li{
    
}
img{
    width: 25%;
}

/*************************************************
            HEADER
*************************************************/
header{
    padding:1rem 2rem;
    color: black;
    background-image: url(/img/1000x600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
header > h1{
    
}

header > h2{
    
}

/*************************************************
            NAVMENU
*************************************************/
nav{
    padding:1rem 2rem;
    background-color: hsl(0, 0%, 90%);   
}
nav > a,
nav > a:visited,
nav > a:link{
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    font-size: 20px;
}
nav > a:active,
nav > a:focus,
nav > a:hover{
    
}

/*************************************************
            MAIN CONTENT
*************************************************/
main{
    padding:1rem 2rem;
}
section{

}
section p{
    
}
section p img{
    
}

/*************************************************
            FOOTER
*************************************************/
footer{
    padding:1rem 2rem;    
}
.foot nav{
    
}
.foot section{
    
}
.foot dl{
    
}
.foot dt{
    
}
.foot dd{
    
}
.foot dd a,
.foot dd a:visited{
    
}
.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover{
    
}
/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px){
    .mainnav a{
        display: block;
        width: 200px;
        padding: 10px;
        border-bottom: 5px solid hsl(0, 0%, 70%)
    }
    nav > a:active,
    nav > a:focus,
    nav > a:hover{
        color: hsl(100, 50%, 70%);
    }
    h1, h2{
        color: hsl(100, 50%, 70%);
    }
}
@media (min-width: 600px) and (max-width:999px){
    .mainnav a{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
    }
    h1, h2{
        color: hsl(200, 50%, 70%);
    }
}
@media (min-width: 1000px){
    h1, h2{
        color: hsl(300, 50%, 70%);
    }
}